.pf-c-login__header {
    display: none;
}

.pf-c-login__footer {
    display: none;
}

.ak-brand {
    display: none;
}

a[href^="https://goauthentik.io"] {
    display: none !important;
}

a[href^="https://unsplash.com"] {
    display: none !important;
}

.pf-c-background-image {
    --ak-flow-background: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%) !important;
    /* --ak-flow-background: url("") !important; */
}